*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #83eeee;
    color: rgb(0, 0, 0);
    padding: 2em;
    grid-area: header;
}
nav {
    background-color: #d5f8f8;
    padding: 0.5em;
    grid-area: nav;
}
main {
    background-color: #d5f8f8;
    color: rgb(0, 0, 0);
    grid-area: main;
}
aside {
    background-color: #d5f8f8;
    grid-area: aside;
}
footer {
    background-color: #28afb0;
    color: rgb(0, 0, 0);
    grid-area: footer;
}
